@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    /* outline: blue solid 2px; */
    font-family: 'Roboto', sans-serif;
}

body {
    width: 80%;
    margin: 0 auto;
}

.banner {
    width: 80%;
    height: 15vh;
    margin: 0 auto;
    padding: 10px;
}

nav {
    padding: 15px;
    outline: #BFB7BA solid 2px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    align-items: flex-end;
    text-align: center;
    width: 100%;
    font-size: 20px;
}

p.main-text {
    font-size: 20px;
}

.article-paragraph {
    /* font-size: 20px;
    padding: 5px; */
    font-size: 18px;
    padding: 30px;
}

#banner-img {
    height: 100%;
    width: 100%;
}

#main-section {
    display: flex;
    padding: 5px;
    outline: #BFB7BA solid 2px;
}

div#main-container {
    padding: 20px;
}

.main-img-container {
    padding: 20px;
}

.main-img {
    height: 115px;
    width: 115px;
    padding: 10px;
}

#articles {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
}

article.article-card {
    flex-basis: fit-content;
}

.article-card {
    outline: #BFB7BA solid 2px;
    flex-wrap: wrap;
    background: #d3d3d3;
}

.article-card button {
    margin: 0 auto;
    text-align: center;
}

.article-img {
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}

.article-btn-container {
    display: flex;
    padding: 15px;
}

.article-btn {
    align-items: center;
}

.iner-article-card {
    margin: 30px;
    outline: black solid 2px;
    background: white;
}